@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "About";
}

<h2>Contact Info </h2>

@*<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th></th>

        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>*@
<address>
    Iryna Kyman<br/>
    Perkivska st, 14<br />
    Perkivka,Volchansk district<br />
    Kharkiv region, Ukraine, 62572<br />
    Phone: 096.419.5290
</address>